#service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #E5E8F0;
    background-image: url("https://www.transparenttextures.com/patterns/grid-me.png");
    min-height: 100vh;
}

#resume{
    background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
}